<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Монтажники окон, алюминиевых витражей, история ПВХ и алюминиевых витражей. " />
    <!-- <meta name="robots" content="all"> -->
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'none'"> -->
    <link rel="stylesheet" href="../static/start.css" type="text/css">
    <link rel="icon" href="Images/favicon.ico" type="image/x-icon" sizes="120×120px">
    <title class="bookmark_entry">Glass Installer</title>
    <title>Монтажники окон и алюминиевых витражей Новосибирска</title>
</head>

<body class="welcome-page">
    <section id="header-global">
        <header class="menu-header">
            <div class="menu-box">
                <nav class="menu-button">
                    <ul>
                        <li><a href="entry.html">Главная</a></li>
                        <li><a href="gallery.html">Галерея работ</a></li>
                        <li><a href="../templates/Images/404.jpg">Добавить работу</a></li>
                        <li><a href="../templates/Images/404.jpg">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <header class="messeges">
            <div>
                <a title="Whatsapp" href="whatsapp://send?phone=79130630112"><img class="whatsapp"
                        src="messenger/WhatsApp_mini.jpg" alt="Написать в Whatsapp" /></a>
            </div class="telegram">
            <div><a title="Telegram" href="https://t.me/glass_installer" target="_blank"><img class="telegram"
                        src="messenger/Telegram_mini.jpg" alt="Написать в Telegram" /></a>
            </div>
            <div class="gmail">
                <a title="Gmail" href="mailto:jukki.snow@gmail.com" target="_blank"><img class="gmail"
                        src="messenger/gmail_mini.png" alt="Написать на почту" height="50px" /></a>
            </div>
        </header>
    </section>



    <section class="title">
        <div class="flex-welcome">
            <div class="title-welcome">
                <h1 class="welcome">Добро пожаловать)))</h1>
            </div>

            <div class="avatar">
                <img class="avatar-icon" src="Images/avatar.jpg" alt="avatar" />
            </div>
        </div>

        <div class="title-hello">
            <h2 class="title-description">Всем привет &#128400;
                Это сайт о моей работе и работе лучших монтажников города
                Новосибирска &#9989;
            </h2>
        </div>
    </section>

    <hr />

    <section class="images-entry">
        <div class="images">
            <img class="images-1" src="Images_webp/002_entry_mini.jpg" title="Первомайка" alt="1" height="auto"
                width="21%" />
            <img class="images-2" src="Images_webp/004_entry_mini.jpg" title="СК Локомотив-арена" alt="2" height="auto"
                width="19%" />
            <img class="images-3" src="Images_webp/001_entry_mini.jpg" title="Станиславского" alt="3" height="auto"
                width="18%" />
            <img class="images-4" src="Images_webp/005_entry_mini.jpg" title="Окно где-то)" alt="4" height="auto"
                width="19%" />
            <img class="images-5" src="Images_webp/003_entry_mini.jpg" title="Школа" alt="5" height="auto"
                width="21%" />
        </div>
    </section>

    <hr />

    <section class="history-windows-aluminium">
        <div class="history-windows-block">
            <div class="block-1">
                <a href="History_Windows/molecule.webp" target="_parent"><img class="history-images"
                        src="History_Windows/molecule.webp" alt="molecule" height="" width="" /></a>
            </div>
            <div class="block-2">
                <h3 class="title-color">История открытия поливинилхлорида.</h3>
                <p class="history">
                    Первые образцы ПВХ были получены в 1835 году, когда Анри Виктор Реньо, горный инженер и химик,
                    открыл
                    винилхлорид. Сначала он изучал раствор винилхлорида в Гиссене, в лаборатории Юстуса фон Либигса, и
                    случайно
                    оставил пробирку с раствором на подоконнике. Через несколько дней в пробирке образовался белый
                    порошок,
                    который,
                    очевидно, был получен под воздействием солнечного света.
                    Удивившись такой реакции, Реньо продолжил опыты, но успехом они не увенчались. Все наблюдения были
                    записаны и
                    опубликованы, и Реньо так и не узнал, что, сам того не подозревая, впервые в мире получил
                    поливинилхлорид.
                    В 1878 году к вопросу полимеризации винилхлорида ученые вернулись снова, но не публиковали
                    каких-либо
                    значимых
                    исследований.
                    В 1912 году один из сотрудников химической компании «Грайсхайн Электрон», Фриц Клатте, работал с
                    ацетиленом и
                    хлороводородом. Так же, совершенно случайно, он оставил раствор на полке на несколько дней. Затем
                    он,
                    как и его
                    предшественник Реньо, обратил внимание на появившийся на дне осадок. К этому времени химикам уже
                    было
                    известно
                    строение вещества, поэтому Клатте понял, что перед ним полимер винилхлорида. Он описал его и
                    впоследствии даже
                    получил на него патент. В то же время, о работах Реньо он ничего не знал.

                    Главной идеей химика была возможность использовать ПВХ вместо горючего целлулоида. Да, у ПВХ было
                    уникальное
                    преимущество – он воспламенялся с трудом. Когда началась Первая Мировая Война, энтузиазм Клатте
                    быстро
                    угас, но
                    именно ему принадлежит ведущая роль в промышленном использовании ПВХ.
                </p>
            </div>
        </div>
    </section>

    <section class="history-windows-aluminium">
        <div class="history-windows-block-2">
            <div class="block-3">
                <a href="History_Windows/history_windows.jpg" target="_parent"><img class="history-images-2"
                        src="History_Windows/history_windows.jpg" alt="window_&_aluminum" height="" width="" /></a>
            </div>
            <div class="block-4">
                <h3 class="title-color">Пластиковые окна.</h3>
                <p class="history">
                    Окна из ПВХ-профилей (пластиковые окна) начали массово производиться в Западной
                    Европе и
                    США в 1960-е годы. Лёгкость обработки пластика, возможность проектирования и производства оконных
                    элементов самых разнообразных форм и конфигураций, высокие эксплуатационные свойства окон из
                    ПВХ-профилей (прежде всего — энергоэффективность) и сравнительно низкий порог вхождения в бизнес
                    обусловили их широкое распространение во всём мире.

                    Оконные профили из ПВХ производят на специальных предприятиях методом экструзии. Специально
                    подготовленное сырьё (экструзионный компаунд) под давлением проходит через специальную
                    матрицу —
                    экструзионную фильеру, в которой формируется «тело» производимого профильного артикула. После выхода
                    из
                    фильеры профиль калибруется, охлаждается, на него наносится маркировка и наклеивается защитная
                    плёнка
                    для защиты от транспортных повреждений. Обрезка профиля происходит в конце экструзионной линии либо
                    дисковой пилой, либо специальной термической гильотиной (разогретый металлический нож).

                    Пластик обладает относительно высоким коэффициентом линейного расширения, легко изгибается, но при
                    этом,
                    совершенно не реагирует на воду. Для сохранения геометрической устойчивости окон из ПВХ в профили
                    (за
                    исключением некоторых артикулов, например, штапика) помещают, чаще всего оцинкованные металлические
                    усилительные вкладыши.
                </p>
            </div>
        </div>
    </section>

    <section class="history-windows-aluminium">
        <div class="history-windows-block-3">
            <div class="block-5">
                <a href="History_Windows/history_windows_aluminum.jpg" target="_parent"><img class="history-images-3"
                        src="History_Windows/history_windows_aluminum.jpg" width="" height="" /></a>
            </div>
            <div class="block-6">
                <h3 class="title-color">Алюминиевые окна и витражи.</h3>
                <p class="history">
                    Алюминиевые витражи.
                </p>
            </div>
        </div>
    </section>

    <hr />

    <footer class="footer-box">
        <div class="footer-entry">
            <p id="end-page">Jukki &#169;, Новосибирск 2006-2024</p>
        </div>
    </footer>


    <!-- /*НЕ ВЫКЛАДЫВАТЬ НА САЙТ это VIEWLOG*/ -->
    <div class="link_viewlog">
        <a class="viewlog" href="/templates/viewlog.html">Страниииицаа VIEWLOG.html</a>
    </div>
</body>


</html>