<!DOCTYPE html>
<html lang="ru">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
                content="Галерея работ монтажников, фото окон и алюминиевых витражей, балконов и лоджий. Фото остекления магазинов, жилых домов, ТЦ и производственных помещений." />
        <link rel="stylesheet" href="../static/start.css" type="text/css">
        <link rel="icon" href="Images/favicon.ico" type="image/x-icon" sizes="120×120">
        <title class="bookmark-gallery">Галерея работ</title>
</head>

<body class="gallery-page">
        <section id="header-global">
                <header class="menu-header">
                        <div class="menu-box">
                                <nav class="menu-button">
                                        <ul>
                                                <li><a href="entry.html">Главная</a></li>
                                                <li><a href="gallery.html">Галерея работ</a></li>
                                                <li><a href="../templates/Images/404.jpg">Добавить работу</a></li>
                                                <li><a href="../templates/Images/404.jpg">Login</a></li>
                                        </ul>
                                </nav>
                        </div>
                </header>

                <header class="messeges">
                        <div>
                                <a title="Whatsapp" href="whatsapp://send?phone=79130630112"><img class="whatsapp"
                                                src="messenger/WhatsApp_mini.jpg" alt="Написать в Whatsapp" /></a>
                        </div class="telegram">
                        <div><a title="Telegram" href="https://t.me/glass_installer" target="_top" rel="noreferrer"><img
                                                class="telegram" src="messenger/Telegram_mini.jpg"
                                                alt="Написать в Telegram" /></a>
                        </div>
                        <div class="gmail">
                                <a title="Gmail" href="mailto:jukki.snow@gmail.com" target="_top" rel="noreferrer"><img
                                                class="gmail" src="messenger/gmail_mini.png" alt="Написать на gmail"
                                                height="50px" /></a>
                        </div>
                </header>
        </section>

        <section class="title-gallery">
                <h1 class="heading">
                        Выполненные работы монтажников
                </h1>
        </section>

        <hr />

        <section class="foto-gallery">
                <div class="foto">
                        <a href="Images/104_gallery.jpg" target="_top" rel="noreferrer" title="Кафе"
                                alt="Алюминиевые витражи"><img src="Images_webp/104_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/105_gallery.jpg" target="_top" rel="noreferrer" title="Кафе"
                                alt="Алюминиевые витражи"><img src="Images_webp/105_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/106_gallery.jpg" target="_top" rel="noreferrer" title="Кафе"
                                alt="Алюминиевые витражи"><img src="Images_webp/106_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/107_gallery.jpg" target="_top" rel="noreferrer" title="Сто-кафе"
                                alt="Алюминиевые витражи"><img src="Images_webp/107_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/108_gallery.jpg" target="_top" rel="noreferrer" title="Сто-кафе"
                                alt="Алюминиевые витражи"><img src="Images_webp/108_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/112_gallery.jpg" target="_top" rel="noreferrer" title="Горская"
                                alt="Алюминиевые витражи"><img src="Images_webp/112_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/113_gallery.jpg" target="_top" rel="noreferrer" title="Лифт на Писарева"
                                alt="Алюминиевые витражи"><img src="Images_webp/113_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/116_gallery.jpg" target="_top" rel="noreferrer" title="ПВХ витраж"
                                alt="Пластиковые окна"><img src="Images_webp/116_gallery.webp" id="image-sizes" /></a>
                        <a href="Images/117_gallery.jpg" target="_top" rel="noreferrer" title="Школа"
                                alt="Алюминиевые витражи"><img src="Images_webp/117_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/118_gallery.jpg" target="_top" rel="noreferrer" title="Тамбур на Чистой Слободе"
                                alt="Пластиковые окна"><img src="Images_webp/118_gallery.webp" id="image-sizes" /></a>
                        <a href="Images/119_gallery.jpg" target="_top" rel="noreferrer"
                                title="Выставление 1го этажа"><img src="Images_webp/119_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/120_gallery.jpg" target="_top" rel="noreferrer" title="Ясный берег"
                                alt="Алюминиевые витражи"><img src="Images_webp/120_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/115_gallery.jpg" target="_top" rel="noreferrer"
                                title="рекламация, пена даванула" alt="Пластиковые окна"><img
                                        src="Images_webp/115_gallery.webp" id="image-sizes" /></a>
                        <a href="Images/128_gallery.jpg" target="_top" rel="noreferrer" title="Спорткомлекс пгт.Горный"
                                alt="Пластиковые окна"><img src="Images_webp/128_gallery.webp" id="image-sizes" /></a>
                        <a href="Images/129_gallery.jpg" target="_top" rel="noreferrer" title="СК Север"
                                alt="Алюминиевые витражи"><img src="Images_webp/129_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/109_gallery.jpg" target="_top" rel="noreferrer" title="СК Локомотив-арена"
                                alt="Алюминиевые витражи"><img src="Images_webp/109_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/110_gallery.jpg" target="_top" rel="noreferrer" title="СК Локомотив-арена"
                                alt="Алюминиевые витражи"><img src="Images_webp/110_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/111_gallery.jpg" target="_top" rel="noreferrer" title="СК Локомотив-арена"
                                alt="Алюминиевые витражи"><img src="Images_webp/111_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/101_gallery.jpg" target="_top" rel="noreferrer" title="Долгострой на Маркса"
                                alt="Алюминиевые витражи"><img src="Images_webp/101_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/102_gallery.jpg" target="_top" rel="noreferrer" title="Школа"
                                alt="Алюминиевые витражи"><img src="Images_webp/102_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/114_gallery.jpg" target="_top" rel="noreferrer" title="Окно-окно"><img
                                        src="Images_webp/114_gallery.webp" id="image-sizes" /></a>
                        <a href="Images/121_gallery.jpg" target="_top" rel="noreferrer" title="ЖК Панорама"
                                alt="Алюминиевые витражи"><img src="Images_webp/121_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/122_gallery.jpg" target="_top" rel="noreferrer" title="Первомайка"
                                alt="Алюминиевые витражи"><img src="Images_webp/122_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/123_gallery.jpg" target="_top" rel="noreferrer" title="Первомайка"
                                alt="Алюминиевые витражи"><img src="Images_webp/123_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/124_gallery.jpg" target="_top" rel="noreferrer" title="Первомайка"
                                alt="Алюминиевые витражи"><img src="Images_webp/124_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/125_gallery.jpg" target="_top" rel="noreferrer" title="Первомайка"
                                alt="Алюминиевые витражи"><img src="Images_webp/125_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/126_gallery.jpg" target="_top" rel="noreferrer" title="ЖК Свобода"
                                alt="Алюминиевые витражи"><img src="Images_webp/126_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/127_gallery.jpg" target="_top" rel="noreferrer" title="Гурьевская"
                                alt="Алюминиевые витражи"><img src="Images_webp/127_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/103_gallery.jpg" target="_top" rel="noreferrer" title="Станиславского"
                                alt="Алюминиевые витражи"><img src="Images_webp/103_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/130_gallery.jpg" target="_top" rel="noreferrer" title="ЖК Воздух"
                                alt="Алюминиевые витражи"><img src="Images_webp/130_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/131_gallery.jpg" target="_top" rel="noreferrer" title="Коттедж"
                                alt="Алюминиевые витражи"><img src="Images_webp/131_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/132_gallery.jpg" target="_top" rel="noreferrer" title="Коттедж"
                                alt="Алюминиевые витражи"><img src="Images_webp/132_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/133_gallery.jpg" target="_top" rel="noreferrer" title="Люлька на Гурьевской"
                                alt="Алюминиевые витражи"><img src="Images_webp/133_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/134_gallery.jpg" target="_top" rel="noreferrer" title="Витражи в Омске"
                                alt="Алюминиевые витражи"><img src="Images_webp/134_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/135_gallery.jpg" target="_top" rel="noreferrer" title="Коттедж"
                                alt="Алюминиевые витражи"><img src="Images_webp/135_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/136_gallery.jpg" target="_top" rel="noreferrer" title="Станция метро Спортивная"
                                alt="Алюминиевые витражи"><img src="Images_webp/136_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/137_gallery.jpg" target="_top" rel="noreferrer" title="Расцветай"
                                alt="Алюминиевые витражи"><img src="Images_webp/137_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/138_gallery.jpg" target="_top" rel="noreferrer" title="Расцветай"
                                alt="Алюминиевые витражи"><img src="Images_webp/138_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/139_gallery.jpg" target="_top" rel="noreferrer" title="ЖК Аэропорт"
                                alt="Алюминиевые витражи"><img src="Images_webp/139_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/140_gallery.jpg" target="_top" rel="noreferrer" title="ЖК Аэропорт"
                                alt="Алюминиевые витражи"><img src="Images_webp/140_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/141_gallery.jpg" target="_top" rel="noreferrer" title="ЖК Аэропорт"
                                alt="Алюминиевые витражи"><img src="Images_webp/141_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/142_gallery.jpg" target="_top" rel="noreferrer" title="Люлька на Гурьевской"
                                alt="Алюминиевые витражи"><img src="Images_webp/142_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/143_gallery.jpg" target="_top" rel="noreferrer" title="ЖК Воздух"
                                alt="Алюминиевые витражи"><img src="Images_webp/143_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/144_gallery.jpg" target="_top" rel="noreferrer" title="Люлька на Гурьевской"
                                alt="Алюминиевые витражи"><img src="Images_webp/144_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/145_gallery.jpg" target="_top" rel="noreferrer" title="Витражи в Омске"
                                alt="Алюминиевые витражи"><img src="Images_webp/145_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/146_gallery.jpg" target="_top" rel="noreferrer" title="Валера Омский)"
                                alt="Алюминиевые витражи"><img src="Images_webp/146_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/147_gallery.jpg" target="_top" rel="noreferrer" title="Микрокран в Омске"
                                alt="Алюминиевые витражи"><img src="Images_webp/147_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/148_gallery.jpg" target="_top" rel="noreferrer" title="Омск"
                                alt="Алюминиевые витражи"><img src="Images_webp/148_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/149_gallery.jpg" target="_top" rel="noreferrer" title="Витражи в Омске"
                                alt="Алюминиевые витражи"><img src="Images_webp/149_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/150_gallery.jpg" target="_top" rel="noreferrer" title="Коттедж"
                                alt="Алюминиевые витражи"><img src="Images_webp/150_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/151_gallery.jpg" target="_top" rel="noreferrer" title="Коттедж"
                                alt="Алюминиевые витражи"><img src="Images_webp/151_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/152_gallery.jpg" target="_top" rel="noreferrer" title="250кг стекла"
                                alt="Алюминиевые витражи"><img src="Images_webp/152_gallery.webp"
                                        id="image-sizes" /></a>
                        <a href="Images/153_gallery.jpg" target="_top" rel="noreferrer" title="Станция метро Спортивная"
                                alt="Алюминиевые витражи"><img src="Images_webp/153_gallery.webp"
                                        id="image-sizes" /></a>
                </div>
        </section>

        <hr />

        <section class="selection-page">
                <div class="container-page">
                        <ul>
                                <li class="active">
                                        <span href="gallery.html" class="current">1</span>
                                </li>
                        </ul>
                        <ul>
                                <li>
                                        <a href="gallery_2.html" class="page-link">2</a>
                                </li>
                        </ul>
                        <ul>
                                <li>
                                        <a href="gallery_3.html" class="page-link">3</a>
                                </li>
                        </ul>
                        <ul>
                                <li>
                                        <a href="gallery_4.html" class="page-link">4</a>
                                </li>
                        </ul>
                        <ul>
                                <li>
                                        <a href="gallery_5.html" class="page-link">5</a>
                                </li>
                        </ul>
                </div>
        </section>

        <hr />

        <footer class="footer-box">
                <div class="footer-entry">
                        <p id="end-page">Jukki &#169;, Новосибирск 2006-2024</p>
                </div>
        </footer>

</body>

</html>