<!DOCTYPE html>
<html lang="ru">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
                content="Галерея работ монтажников, фото окон и алюминиевых витражей, балконов и лоджий. Фото остекления магазинов, жилых домов, ТЦ и производственных помещений." />
        <link rel="stylesheet" href="../static/start.css" type="text/css">
        <link rel="icon" href="Images/favicon.ico" type="image/x-icon" sizes="120×120">
        <title>Галерея #2</title>

</head>

<body class="gallery-page">
        <section id="header-global">
                <header class="menu-header">
                        <div class="menu-box">
                                <nav class="menu-button">
                                        <ul>
                                                <li><a href="entry.html">Главная</a></li>
                                                <li><a href="gallery.html">Галерея работ</a></li>
                                                <li><a href="../templates/Images/404.jpg">Добавить работу</a></li>
                                                <li><a href="../templates/Images/404.jpg">Login</a></li>
                                        </ul>
                                </nav>
                        </div>
                </header>

                <header class="messeges">
                        <div>
                                <a title="Whatsapp" href="whatsapp://send?phone=79130630112"><img class="whatsapp"
                                                src="messenger/WhatsApp_mini.jpg" alt="Написать в Whatsapp" /></a>
                        </div class="telegram">
                        <div><a title="Telegram" href="https://t.me/glass_installer" target="_top" rel="noreferrer"><img
                                                class="telegram" src="messenger/Telegram_mini.jpg"
                                                alt="Написать в Telegram" /></a>
                        </div>
                        <div class="gmail">
                                <a title="Gmail" href="mailto:jukki.snow@gmail.com" target="_top" rel="noreferrer"><img
                                                class="gmail" src="messenger/gmail_mini.png" alt="Написать на gmail"
                                                height="50px" /></a>
                        </div>
                </header>
        </section>

        <section class="title-gallery">
                <h1 class="heading">
                        Выполненные работы монтажников
                </h1>
        </section>

        <hr />

        <section class="foto-gallery-flex">
                <div class="foto-flex">
                        <a href="Images/154_gallery.jpeg" target="_top" rel="noreferrer" title="Омск"><img
                                        src="Images_webp/154_gallery_mini (1).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/155_gallery.jpeg" target="_top" rel="noreferrer"
                                title="Супер обшивка лоджии"><img src="Images_webp/155_gallery_mini (2).jpg"
                                        id="image-sizes-flex" /></a>
                        <a href="Images/156_gallery.jpeg" target="_top" rel="noreferrer"
                                title="Супер обшивка лоджии"><img src="Images_webp/156_gallery_mini (3).jpg"
                                        id="image-sizes-flex" /></a>
                        <a href="Images/157_gallery.jpeg" target="_top" rel="noreferrer"
                                title="Супер обшивка лоджии"><img src="Images_webp/157_gallery_mini (4).jpg"
                                        id="image-sizes-flex" /></a>
                        <a href="Images/158_gallery.jpeg" target="_top" rel="noreferrer"
                                title="Супер обшивка лоджии"><img src="Images_webp/158_gallery_mini (5).jpg"
                                        id="image-sizes-flex" /></a>
                        <a href="Images/159_gallery.jpeg" target="_top" rel="noreferrer"
                                title="Супер обшивка лоджии"><img src="Images_webp/159_gallery_mini (6).jpg"
                                        id="image-sizes-flex" /></a>
                        <a href="Images/160_gallery.jpeg" target="_top" rel="noreferrer" title="Кашированные окна"><img
                                        src="Images_webp/160_gallery_mini (7).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/161_gallery.jpeg" target="_top" rel="noreferrer" title="Кашированные окна"><img
                                        src="Images_webp/161_gallery_mini (8).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/162_gallery.jpeg" target="_top" rel="noreferrer" title="Кашированные окна"><img
                                        src="Images_webp/162_gallery_mini (9).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/163_gallery.jpeg" target="_top" rel="noreferrer" title="Кашированные окна"><img
                                        src="Images_webp/163_gallery_mini (10).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/164_gallery.jpeg" target="_top" rel="noreferrer" title="Кашированные окна"><img
                                        src="Images_webp/164_gallery_mini (11).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/165_gallery.jpeg" target="_top" rel="noreferrer"
                                title="Супер обшивка лоджии"><img src="Images_webp/165_gallery_mini (12).jpg"
                                        id="image-sizes-flex" /></a>
                        <a href="Images/166_gallery.jpeg" target="_top" rel="noreferrer" title="Кашированные окна"><img
                                        src="Images_webp/166_gallery_mini (13).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/167_gallery.jpeg" target="_top" rel="noreferrer" title="Кашированные окна"><img
                                        src="Images_webp/167_gallery_mini (14).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/168_gallery.jpeg" target="_top" rel="noreferrer" title="Кашированные окна"><img
                                        src="Images_webp/168_gallery_mini (15).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/169_gallery.jpeg" target="_top" rel="noreferrer" title="Кашированные окна"><img
                                        src="Images_webp/169_gallery_mini (16).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/170_gallery.jpeg" target="_top" rel="noreferrer" title="Кашированные окна"><img
                                        src="Images_webp/170_gallery_mini (17).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/171_gallery.jpeg" target="_top" rel="noreferrer" title="Окно с отделкой"><img
                                        src="Images_webp/171_gallery_mini (18).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/172_gallery.jpeg" target="_top" rel="noreferrer" title="O_o"><img
                                        src="Images_webp/172_gallery_mini (19).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/173_gallery.jpeg" target="_top" rel="noreferrer" title="ЖК Аэропорт"><img
                                        src="Images_webp/173_gallery_mini (20).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/174_gallery.jpeg" target="_top" rel="noreferrer" title="ЖК Аэропорт"><img
                                        src="Images_webp/174_gallery_mini (21).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/175_gallery.jpeg" target="_top" rel="noreferrer" title="ЖК Свобода"><img
                                        src="Images_webp/175_gallery_mini (22).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/176_gallery.jpeg" target="_top" rel="noreferrer" title="ЖК Воздух"><img
                                        src="Images_webp/176_gallery_mini (23).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/177_gallery.jpeg" target="_top" rel="noreferrer" title="ЖК Воздух"><img
                                        src="Images_webp/177_gallery_mini (24).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/178_gallery.jpeg" target="_top" rel="noreferrer" title="ЖК Воздух"><img
                                        src="Images_webp/178_gallery_mini (25).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/179_gallery.jpeg" target="_top" rel="noreferrer" title="Омск"><img
                                        src="Images_webp/179_gallery_mini (26).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/180_gallery.jpeg" target="_top" rel="noreferrer" title="Омск"><img
                                        src="Images_webp/180_gallery_mini (27).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/181_gallery.jpeg" target="_top" rel="noreferrer" title="Омск"><img
                                        src="Images_webp/181_gallery_mini (28).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/182_gallery.jpeg" target="_top" rel="noreferrer" title="Омск"><img
                                        src="Images_webp/182_gallery_mini (29).jpg" id="image-sizes-flex" /></a>
                        <a href="Images/183_gallery.jpeg" target="_top" rel="noreferrer" title="Омск"><img
                                        src="Images_webp/183_gallery_mini (30).jpg" id="image-sizes-flex" /></a>
                        <!-- <img class="no-foto-page" src="../templates/Images/404_gallery_page.jpg" height="800" width="800" /> -->
                </div>
        </section>
        <hr />
        <section class="selection-page">
                <div class="container-page">
                        <ul>
                                <li>
                                        <a href="gallery.html" class="page-link">1</a>
                                </li>
                        </ul>
                        <ul>
                                <li class="active">
                                        <span href="gallery_2.html" class="current">2</span>
                                </li>
                        </ul>
                        <ul>
                                <li>
                                        <a href="gallery_3.html" class="page-link">3</a>
                                </li>
                        </ul>
                        <ul>
                                <li>
                                        <a href="gallery_4.html" class="page-link">4</a>
                                </li>
                        </ul>
                        <ul>
                                <li>
                                        <a href="gallery_5.html" class="page-link">5</a>
                                </li>
                        </ul>
                </div>
        </section>


        <hr />

        <footer class="footer-box">
                <div class="footer-entry">
                        <p id="end-page">Jukki &#169;, Новосибирск 2006-2024</p>
                </div>
        </footer>

</body>

</html>