<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Галерея работ монтажников, фото окон и алюминиевых витражей, балконов и лоджий. Фото остекления магазинов, жилых домов, ТЦ и производственных помещений." />
    <link rel="stylesheet" href="../static/start.css" type="text/css">
    <link rel="icon" href="Images/favicon.ico" type="image/x-icon" sizes="120×120">
    <title>Галерея #3</title>

</head>

<body class="gallery-page">
    <section id="header-global">
        <header class="menu-header">
            <div class="menu-box">
                <nav class="menu-button">
                    <ul>
                        <li><a href="entry.html">Главная</a></li>
                        <li><a href="gallery.html">Галерея работ</a></li>
                        <li><a href="../templates/Images/404.jpg">Добавить работу</a></li>
                        <li><a href="../templates/Images/404.jpg">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <header class="messeges">
            <div>
                <a title="Whatsapp" href="whatsapp://send?phone=79130630112"><img class="whatsapp"
                        src="messenger/WhatsApp_mini.jpg" alt="Написать в Whatsapp" /></a>
            </div class="telegram">
            <div><a title="Telegram" href="https://t.me/glass_installer" target="_top" rel="noreferrer"><img
                        class="telegram" src="messenger/Telegram_mini.jpg" alt="Написать в Telegram" /></a>
            </div>
            <div class="gmail">
                <a title="Gmail" href="mailto:jukki.snow@gmail.com" target="_top" rel="noreferrer"><img class="gmail"
                        src="messenger/gmail_mini.png" alt="Написать на gmail" height="50px" /></a>
            </div>
        </header>
    </section>

    <section class="title-gallery">
        <h1 class="heading">
            Выполненные работы монтажников
        </h1>
    </section>

    <hr />

    <section class="foto-gallery">
        <div class="foto">
            <a href="Images/184_gallery.jpg" target="_top" rel="noreferrer" title="Обеденный перерыв))"><img
                    src="Images_webp/184_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/185_gallery.jpg" target="_top" rel="noreferrer" title="Обеденный перерыв))"><img
                    src="Images_webp/185_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/186_gallery.jpg" target="_top" rel="noreferrer" title="Писарева"><img
                    src="Images_webp/186_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/187_gallery.jpg" target="_top" rel="noreferrer" title="Ясный берег"><img
                    src="Images_webp/187_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/188_gallery.jpg" target="_top" rel="noreferrer" title="Станиславского"><img
                    src="Images_webp/188_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/189_gallery.jpg" target="_top" rel="noreferrer" title="Станиславского"><img
                    src="Images_webp/189_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/190_gallery.jpg" target="_top" rel="noreferrer" title="Станиславского"><img
                    src="Images_webp/190_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/191_gallery.jpg" target="_top" rel="noreferrer" title="Станиславского"><img
                    src="Images_webp/191_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/192_gallery.jpg" target="_top" rel="noreferrer" title="Станиславского"><img
                    src="Images_webp/192_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/193_gallery.jpg" target="_top" rel="noreferrer" title="Образцы в офисе"><img
                    src="Images_webp/193_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/194_gallery.jpg" target="_top" rel="noreferrer" title="Образцы в офисе"><img
                    src="Images_webp/194_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/195_gallery.jpg" target="_top" rel="noreferrer" title="Образцы в офисе"><img
                    src="Images_webp/195_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/196_gallery.jpg" target="_top" rel="noreferrer" title="Образцы в офисе"><img
                    src="Images_webp/196_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/197_gallery.jpg" target="_top" rel="noreferrer" title="Образцы в офисе"><img
                    src="Images_webp/197_gallery_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>
            <a href="Images/404_no_foto.jpg" target="_top" rel="noreferrer" title=""><img
                    src="Images_webp/404_no_foto_mini.jpg" id="image-sizes" /></a>

            <!-- <img class="no-foto-page" src="../templates/Images/404_gallery_page.jpg" height="800" width="800" /> -->
        </div>
    </section>

    <hr />

    <section class="selection-page">
        <div class="container-page">
            <ul>
                <li>
                    <a href="gallery.html" class="page-link">1</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="gallery_2.html" class="page-link">2</a>
                </li>
            </ul>
            <ul>
                <li class="active">
                    <span href="gallery_3.html" class="current">3</span>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="gallery_4.html" class="page-link">4</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="gallery_5.html" class="page-link">5</a>
                </li>
            </ul>
        </div>
    </section>

    <hr />

    <footer class="footer-box">
        <div class="footer-entry">
            <p id="end-page">Jukki &#169;, Новосибирск 2006-2024</p>
        </div>
    </footer>

</body>

</html>