<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/start.css" type="text/css">
    <link rel="icon" href="Images/favicon.ico" type="image/x-icon" sizes="120×120">
    <title>Кто тут был?</title>

</head>

<h1 class="table-user-body">Зарегистрированные посетители.</h1>


<table class="table-body">
    <thead class="table-name">
        <th class="table-column-name1">id</th>
        <th class="table-column-name2">Имя</th>
        <th class="table-column-name3">Дата посещения-загрузки</th>
        <th class="table-column-name4">Используемый браузер</th>
        <th class="table-column-name5">Загруженное фото</th>
        <th class="table-column-name6">Комментарии</th>
    </thead>


    <tbody class="body-values-all">
        <tr class="body-values">
            {% for the_id in id %}
            <th>{{item}}</th>
            {% endfor %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="text" name="" id=""></td>
        </tr>

    </tbody>
</table>

</html>